.mt40 {
    margin-top:40px;
}

.body-nav { margin:0; padding:0;}
.body-nav li { float: left; margin-right:20px; list-style-type:none; }
.search-form { margin:0; }
.tags>a { display: inline-block; padding:8px 16px; background-color: #ccc; color:#333; margin: 0 10px 10px 0; border-radius:8px; }
.tags>a:hover { background-color: #000; color:#fff; }

.navbar-home { margin-right:0; }
.search-input { position: relative; }
.search-input input[type="text"] { 
    padding:20px;
    font-size:18px;
 }
 .search-input .search-btn { position: absolute; right:20px; top:12px; font-size: 18px; }