<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="./css/paper.min.css" />
    <link rel="stylesheet" href="./css/font-awesome.min.css" />
    <link rel="stylesheet" href="./css/common.css" />
    <script src="./js/jquery.slim.min.js"></script>
</head>

<body>
    <nav class="border fixed split-nav">
        <div class="nav-brand">
            <h3><a href="./index.html">首页</a></h3>
        </div>
        <div class="collapsible">
            <input id="collapsible1" type="checkbox" name="collapsible1">
            <button>
                <label for="collapsible1">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </label>
            </button>
            <div class="collapsible-body">
                <ul class="inline">
                    <li><a href="./note.html">笔记&教程</a></li>
                    <li><a href="./lab.html">实验区</a></li>
                    <li><a href="./about.html">关于我</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="paper container  mt-100">
        <article>
            <h3 class="text-center">关于网站</h3>
            <p>
                国内外技术社区很多，各自都有一些优秀的文章 和 代码资源
                在这里收集和汇总一些内容，信息都是来自于各个不同的社区
                人与代码的对话                
            </p>
            <p>
                在这里，你可以找到：
                一系列文章
                汇总一些新发布的，或者已发布旧的系列型的技术文章，方便查看和回顾                
            </p>
            <p>
                一小段基本知识
                没有长篇大论，只有一小段解释，让您更专注地了解一个知识点
                逐步建立起一个完整的知识体系，便于学习和回顾                
            </p>
            <p>
                一小段代码
                通过运行这段代码，了解程序的运行
                也可以作为您工作中，能够解决小问题的一种便捷方式
            </p>
            <h3 class="text-center">关于我</h3>
            <p>
                名不见经传的中年码农，还在前端这条路上负重前行<br /><br />
                我从较旧的ASP + ACCESS开始折腾<br /><br />
                经历了ASP.NET + ORACLE / MSSQL洗礼之后<br /><br />
                投靠了PHP + MySQL，并游历与不同浏览器之间的兼容性问题（IE7 - IE8，firefox，safari，chrome）<br /><br />
                机缘巧合之下，接触了java后台开发，Spring MVC + Mybatis，也只是一般的业务功能，基本的增删改查<br /><br />
                后来，有一个前端的岗位，以前我都是在后端多，希望可以了解前端看看这个岗位，这个领域到底是怎么样的，然后就“越陷越深”，真可谓“一入前端深似海”
            </p>
        </article>
    </div>

    <footer class="text-center">
        <p>
            Build by <a href="https://www.getpapercss.com/" target="_blank">PaperCSS</a>
        </p>
    </footer>
</body>

</html>