<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="./css/paper.min.css" />
    <link rel="stylesheet" href="./css/font-awesome.min.css" />
    <link rel="stylesheet" href="./css/common.css" />
    <script src="./js/jquery.slim.min.js"></script>
</head>

<body>
    <nav class="border fixed split-nav">
        <div class="nav-brand">
            <h3><a href="./index.html">首页</a></h3>
        </div>
        <div class="collapsible">
            <input id="collapsible1" type="checkbox" name="collapsible1">
            <button>
                <label for="collapsible1">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </label>
            </button>
            <div class="collapsible-body">
                <ul class="inline">
                    <li><a href="./note.html">笔记&教程</a></li>
                    <li><a href="./lab.html">实验区</a></li>
                    <li><a href="./about.html">关于我</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="pager container">
        <div class="row mt-100">
            <div class="md-8 sm-12 col card-btm-20">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My awesome Paper card!</h4>
                        <h5 class="card-subtitle">Nice looking subtitle.</h5>
                        <p class="card-text">This is another example of a card without image. Cards are also meant to be used without images, but with text/links/buttons.</p>
                        <a class="card-link" href="./info.html">查看更多</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My awesome Paper card!</h4>
                        <h5 class="card-subtitle">Nice looking subtitle.</h5>
                        <p class="card-text">This is another example of a card without image. Cards are also meant to be used without images, but with text/links/buttons.</p>
                        <a class="card-link" href="#">First link</a>
                        <a class="card-link" href="#">Second link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My awesome Paper card!</h4>
                        <h5 class="card-subtitle">Nice looking subtitle.</h5>
                        <p class="card-text">This is another example of a card without image. Cards are also meant to be used without images, but with text/links/buttons.</p>
                        <a class="card-link" href="#">First link</a>
                        <a class="card-link" href="#">Second link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My awesome Paper card!</h4>
                        <h5 class="card-subtitle">Nice looking subtitle.</h5>
                        <p class="card-text">This is another example of a card without image. Cards are also meant to be used without images, but with text/links/buttons.</p>
                        <a class="card-link" href="#">First link</a>
                        <a class="card-link" href="#">Second link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My awesome Paper card!</h4>
                        <h5 class="card-subtitle">Nice looking subtitle.</h5>
                        <p class="card-text">This is another example of a card without image. Cards are also meant to be used without images, but with text/links/buttons.</p>
                        <a class="card-link" href="#">First link</a>
                        <a class="card-link" href="#">Second link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My awesome Paper card!</h4>
                        <h5 class="card-subtitle">Nice looking subtitle.</h5>
                        <p class="card-text">This is another example of a card without image. Cards are also meant to be used without images, but with text/links/buttons.</p>
                        <a class="card-link" href="#">First link</a>
                        <a class="card-link" href="#">Second link</a>
                    </div>
                </div>

            </div>
            <div class="md-4 sm-12 col sidebar">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">笔记 & 教程</h4>
                        <div class="row">
                            <ul class="list-btm-20">
                                <li><a href="javascript:;">112312312</a></li>
                                <li><a href="javascript:;">112312312</a></li>
                                <li><a href="javascript:;">112312312</a></li>
                                <li><a href="javascript:;">112312312</a></li>
                                <li><a href="javascript:;">112312312</a></li>
                                <li><a href="javascript:;">112312312</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-center">
        <p>
            Build by <a href="https://www.getpapercss.com/" target="_blank">PaperCSS</a>
        </p>
    </footer>
</body>

</html>