.mt-80 { margin-top:80px; }
.mt-20 { margin-top:20px; }
.mb-20 { margin-bottom:20px; }
.mb-40 { margin-bottom:40px; }
.mb-60 { margin-bottom:60px; }
.m-center { margin:0 auto; }
.card-text-h100 { height: 100px; }
.icons { width:24px; height:24px; margin-left: 5px; }
.series_list li { line-height: 32px; }
.pd-lr-clear { padding-left:0; padding-right:0; }

.pos_fixed { position: fixed; }
.btn_view { top:80px; right:50px; }

.navbar-dark .navbar-nav .nav-link { color:rgba(255,255,255,.8); }

.hidden {  display: none; }
.mind-btns { 
    position:fixed;
    z-index:1031; top:0;
    right:-300px; width:240px; 
    bottom:0; border-left:1px solid #ccc;
}