.mt-80 { margin-top:80px; }
.mt-20 { margin-top:20px; }
.mb-20 { margin-bottom:20px; }
.mb-40 { margin-bottom:40px; }
.mb-60 { margin-bottom:60px; }
.m-center { margin:0 auto; }
.card-text-h100 { height: 100px; }
.icons { width:24px; height:24px; margin-left: 5px; }
.series_list li { line-height: 32px; }
.pd-lr-clear { padding-left:0; padding-right:0; }

.pos_fixed { position: fixed; }
.pos_rel { position: relative; }
.pos_abs { position: absolute; }
.btn_view { top:80px; right:50px; }

.navbar-dark .navbar-nav .nav-link { color:rgba(255,255,255,.8); }

.links-top { margin:140px; }
.nav-wrap { padding-left:100px; }
.cate-nav { 
    position: fixed;
    z-index: 99;
    top: 60px;
    left: 0;
    width: 160px;
    padding: 20px 0;
    color: #fff;
}
.cate-nav>a { 
    display: block;
    padding: 5px 20px 5px 15px;
    text-align: right;
    color: #666;
    text-decoration: none;
    border-right: 1px solid #eeee;
 }
 .cate-nav>a.sel,
.cate-nav>a:hover { background-color: #eee; }

.flab-tool {
    width:460px;
    top:60px;
    position: fixed;
    bottom: 10px;
    background-color: #ddd;
}
.flab-tool .flab-tool-item:nth-child(1),
.flab-tool .flab-tool-item:nth-child(2) {
    margin-bottom: 3px;
}
.flab-tool .flab-tool-item>textarea {
    resize: none;
    width:98%;
    height:98%;
}
.flab-cont {
    margin-left: 470px;
}

.c_cont table {
    width:100%;
    margin-bottom: 40px;
}
.c_cont table th {
    padding:10px;
    background-color: #f1f1f1;
}
.c_cont table td { padding:10px; }
.c_cont table tr {
    border-bottom:1px solid #f1f1f1;
}

.dir_wrap {
    font-size:14px;
}
.dir_wrap a {
    text-decoration: none;
    color:#999;
}
.dir_wrap a:hover { color:#4589d0; }
.dir_wrap .H2 { padding-left:16px; }
