.mt-80 { margin-top:80px; }
.mt-20 { margin-top:20px; }
.mb-20 { margin-bottom:20px; }
.mb-40 { margin-bottom:40px; }
.mb-60 { margin-bottom:60px; }
.m-center { margin:0 auto; }
.card-text-h100 { height: 100px; }
.icons { width:24px; height:24px; margin-left: 5px; }
.series_list li { line-height: 32px; }
.pd-lr-clear { padding-left:0; padding-right:0; }

.pos_fixed { position: fixed; }
.btn_view { top:80px; right:50px; }

.navbar-dark .navbar-nav .nav-link { color:rgba(255,255,255,.8); }

.links-top { margin:140px; }
.cate-nav { position: fixed; text-align: center; z-index: 99; top:70px; left: 0; right:0; padding:20px 0; background-color:#E53A40; color:#fff; }
.cate-nav>a { color:#fff; padding:0 5px; }