.mt-80 { margin-top:80px; }
.mt-20 { margin-top:20px; }
.m-center { margin:0 auto; }
.card-text-h100 { height: 100px; }

html { font-size: 10px; }
body {
    background: #f6f7f8;
}

img.res_width { max-width: 100%; }

.slider {
    position: fixed;
    top:0;
    left:0;
    width:280px;
    background-color: #222;
    bottom: 0;
}
.slider .slider_cont {
    padding:6.4rem 3.2rem 0 3.2rem;
}
.slider .slider_cont .slider_header {
    color:#fff;
    font-size:2.8rem;
}
.slider .slider_menu {
    padding-top:2rem;
}
.slider .slider_menu li a {
    color:rgba(255, 255, 255, 0.8);
    font-size:1.6rem;
    display:block;
    margin-bottom: 1rem;
}
.slider .slider_menu li a:hover,
.slider .slider_menu li a.cur { color:#fff; }
.cont_wrap { margin-left:320px; margin-top: 80px; }
.cont_wrap .cont_search {
    line-height: 90px;
}
.cont_wrap .list_wrap {
    margin-right:80px;
}
.cont_wrap .list_wrap .list_item {
    float:left;
    width:45%;
    margin:0 20px 20px 0;
}
.cont_wrap .list_wrap .list_row {
    margin:0 20px 20px 0;
}
.cont_wrap .list_item_body {
    padding:20px;
    background-color: #fff;
}
.cont_wrap .list_item_body>h1 { margin-bottom:10px; }
.cont_wrap .list_item_body>h1 a { color:#000; }
.cont_wrap .list_item_summery { 
    color:#888;
    font-size:1.4rem;
    line-height: 2rem;
}
.cont_wrap .list_item_info { font-size:1.6rem; line-height: 2.4rem; }
.cont_wrap .list_item_info a { color:#333; }
.cont_wrap .list_item_body .list_item_btns {
    text-align: right;
}

.cont_wrap .list_pager {
    width:80%;
    text-align: center;
    margin:60px 0;
}
.cont_wrap .list_pager li {
    display: inline-block;
}
.cont_wrap .list_pager li a {
    font-size: 1.6rem;
    color:#333;
    font-weight: bold;
    padding: 10px;
}

.cont_wrap .list_empty {
    text-align: center;
    margin:80px;
}
.cont_wrap .list_empty .list_empty_img {
    width:30rem
}
.cont_wrap .list_empty .list_empty_text {
    font-size:2rem;
    color: #ccc;
    margin-top:40px;
}

.rss_tit { margin-left: 2rem; margin-bottom: 2rem; }

.rss_list {
    margin-left:4rem;
}

.rss_list li {
    list-style-type: disc;
    padding:.8rem 0;
}
.rss_list li a {
    font-size:1.8rem;
    color:#333;
    text-decoration: underline;
}

.c_wrap {
    margin-right: 80px;
    position: relative;
}
.c_wrap h1 {
    font-size:3rem;
    line-height: 4rem;
}
.c_wrap .c_cont {
    font-size:1.6rem;
    line-height: 3.2rem;
}
.c_wrap .c_cont pre,
.c_wrap .c_cont code {
    line-height: 2.2rem;
}
.c_wrap .c_cont code {
    padding:2rem;
}
.c_wrap .c_cont h1 {
    margin-top: 30px;
}
.c_wrap .c_cont h2 {
    margin-top: 20px;
}

.c_wrap .c_cont table {
    width: 100%;
    border-top:1px solid #eee;
    border-right:1px solid #eee;
    border-collapse: none;
    border-spacing: 0;
}
.c_wrap .c_cont th,
.c_wrap .c_cont td {
    border-left:1px solid #eee;
    border-bottom:1px solid #eee;
    padding:5px 10px;
}

.c_wrap .c_cont th {
    background-color: #ddd;
}

.c_wrap .c_dir {
    padding:16px;
    position: absolute;
    top:0;
    right:0;
    background-color: #eee;
    color:#333;
    display: none;
    line-height: 2.4rem;
}
.c_wrap .c_dir a { font-size:1.4rem; color:#333; }
.c_wrap .c_dir .c_dir_h2 {
    padding-left:12px;
}
.c_wrap .c_dir_btn {
    padding:10px 30px;
    display: none;
    position: absolute;
    right:0;
    top:-36px;
    background-color: #e1e1e1;
    color:#333;
    cursor: pointer;
}

.home_search { 
    font-size:14px;
    width:90%;
}

.home_search .home_tabs a {
    display: inline-block;
    font-size:18px;
    text-decoration: none;
    color:#333;
    margin:0 10px 10px 0;
    padding:0 0 10px 0;
}
.home_search .home_tabs a.cur {
    color:#222;
    font-weight: bold;
    border-bottom: 2px #222 solid;
}
.home_search .input_wrap {
    border:2px solid #222;
    background-color: #000;
}
.home_search .input_wrap .lib_name_input {
    padding:10px;
    font-size:14px;
    border: none;
    outline: none;
    width:90%;
}

.home_search .btn_search {
    width: 7%;
    height: 36px;
    background-color: #000;
    border: none;
    color:#fff;
    cursor: pointer;
}

.home_search .home_search_panels {
    padding-top:20px;
    width:90%;
    font-size:16px;
}


.home_search .category_box a { display: inline-block; margin:0 10px 4px 0; color:#333; }
.home_search .category_box a.sel {color:#222; border-bottom: 2px solid #222; }

.home_search_result {
    margin-top:20px;
}
.home_search .lib_item {
    padding:20px;
    border-radius: 8px;
    border:1px solid #eee;
    background-color: #fff;
    line-height: 30px;
    margin-bottom: 20px;
}
.home_search .lib_item .lib_name {
    font-size:18px;
}

.home_search .lib_item .lib_intro {
    color:#666;
}
.home_search .lib_item .lib_link {
    text-align: right;
}
.home_search .lib_item .lib_link a {
    color:#333;
    display: inline-block;
    margin-left:10px;
}

.photo_tit {
    line-height: 40px;
}

.photo_change { padding:6px; }
.photo_page_num { padding:6px; }

.photo_item { float: left; padding:20px; }
.photo_item .photo_show { width:100px; height:80px; overflow:hidden; }
.photo_item .photo_btns { right:10px; bottom:10px; color:#fff; }